{% extends "ext_base.html" %}

{% block title %}
  Список Акций
{% endblock %}

{% block content %}



<section class="intro-single">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-single">Все Наши Акции</h1>
        </div>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Домой</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Скидки
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
  <section class="property-grid grid">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="grid-option">
          </div>
        </div>
        {% for obj in discounts %}
        {% for hotel in obj.hotel_discount.all %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{ hotel.img.url }}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{{ hotel.get_absolute_url }}">
                      <br /> {{ hotel.title }} </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="{{ hotel.get_absolute_url }}" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
        {% for obj in discounts %}
        {% for tour in obj.tour_discount.all %}
        <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{ tour.img.url }}" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="{{ tour.get_absolute_url }}">
                      <br /> {{ tour.title }} </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="{{ tour.get_absolute_url }}" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>
        {% if page_obj.has_other_pages %}
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item previous">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">
                    <span class="ion-ios-arrow-back"></span>
                  </a>
                </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}

                  {% if page_obj.number == p %}
                    <li class="page-item active">
                      <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                  {% elif p > page_obj.number|add:-2 and page_obj.number|add:2 > p %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item next">
                  <a class="page-link" href="?page={{page_obj.next_page_number}}">
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
        {% endif %}
    </div>
  </section>

{% endblock %}
  
 